version: "3.8"

services:
  # Servicio Web (Mi página web)
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mvc_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html # Sincroniza la carpeta local con el contenedor
    environment:
      #definir las url de los webhooks
      - N8N_WEBHOOK_POST_CREATED=http://n8n:5678/webhook-test/post-published
      #N8N_WEBHOOK_COMMENT_CREATED=http://n8n:5678/webhook/comment-created
      #N8N_WEBHOOK_COMMENT_DELETED=http://n8n:5678/webhook/comment-deleted
      - N8N_SHARED_TOKEN=pass123
    depends_on:
      - db
    networks:
      - mvc_net

  # Servicio de Base de Datos
  db:
    image: mysql:8.0
    container_name: mvc_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mvc_robotix
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # Opcional: Cargar el SQL automáticamente al iniciar
      - ./database.sql:/docker-entrypoint-initdb.d/01-database.sql:ro
    networks:
      - mvc_net

  # Gestiona la BD visualmente 
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: mvc_pma
    restart: unless-stopped
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: admin
      PMA_PASSWORD: admin123
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - mvc_net

  n8n:
    image: n8nio/n8n
    container_name: mvc_n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=Europe/Madrid
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123

    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - mvc_net

volumes:
  db_data:
  n8n_data:
networks:
  mvc_net:
    driver: bridge
