version: '3.8'

services:
  app:
    build: .
    container_name: mvc_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mvc_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mvc_project
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  # Agregamos esto para gestionar la BD visualmente
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: mvc_pma
    links:
      - db
    environment:
      PMA_HOST: db
    ports:
      - "8081:80"

## levantar el entorno con: docker-compose up -d --build